<table class="row-border hover table">
    <thead>
      <tr>
        <th *ngFor="let header of tableHeaders">{{ header }}</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td *ngFor="let cell of row">{{ cell }}</td>
        <td>
            <div class="w60">
            <button class="btn btn-icon btn-rounded"><i class="fas fa-pencil-alt"></i></button>
            <button class="btn btn-icon btn-rounded" ><i class="fas fa-trash"></i></button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
  