<div class="layout">    
    <div class="content-wrapper">        
        <app-sidebar></app-sidebar>
        <app-nav-bar class="navbar pcoded-header navbar-expand-lg navbar-light"></app-nav-bar>
        <main class="content">
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                        <div class="page-wrapper">
                            <router-outlet></router-outlet>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <app-footer></app-footer>
</div>