<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="javascript:" [formGroup]="UserRoleForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputUserRole1">User Role</label>
                        <input type="text" class="form-control" id="inputUserRole1" placeholder="User Role" formControlName="vUserRole" [ngClass]="{ 'is-invalid': submitted && f['vUserRole'].errors }"/>
                        <div *ngIf="submitted && f['vUserRole'].errors" class="invalid-feedback">
                            <div *ngIf="f['vUserRole'].errors['incorrect']">User Role is invalid</div>
                            <div *ngIf="f['vUserRole'].errors['required']">User Role is Required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName1">Status</label>

                        <select class="form-control" id="inputStatus1" placeholder="Select User Role" formControlName="eStatus" [ngClass]="{ 'is-invalid': submitted && f['eStatus'].errors }">
                            <option value="" >Select User Role</option>
                            <option value="0">Active</option>
                            <option value="1">In Active</option>
                        </select>
                        <div *ngIf="submitted && f['eStatus'].errors" class="invalid-feedback">
                            <div *ngIf="f['eStatus'].errors['incorrect']">Status is invalid</div>
                            <div *ngIf="f['eStatus'].errors['required']">Status is Required</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">{{button_type}}</button>
            </form>
        </div>
    </div>
</div>